#tvpageplayer-container{
  z-index: auto;
}
.tvp-line-detail{
  background-color: #D1D1D1;
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top : 25px;
  display: none;
}
.tvp-line-detail div{
  position: absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  background-color: #fdfdfd;
  padding : 0 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.player-container{
  margin-top : 28px;
}
.player-container #tvpageplayer-container{
  position: relative;
  z-index: 0;
}
.TVPagePlayer-holder {
  overflow: hidden;
  background-color: #000000;
  margin: 0;
}
.TVPagePlayer-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  outline : none;
  .html5-play-button {
    background: url('//do0631budpzeh.cloudfront.net/assets/img/profilePlayOverlay.png') no-repeat 50% 50%;
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
  }
}
*[class^=tvp-] {
    box-sizing: border-box;
    outline : none;
}
div:focus{
  outline : none;
}
#tvpageplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color : #333;
}
.tvp-scroller-x .scrollarea-content > div{
  display: inline-block;
}
.tvplayer-overlay, .tvplayer-overlay-thumbnail{
  z-index: 9990 !important;
}
.tvp-show-more{
  border : 0;
}
.tvp-author{
  color : #333333;
  font-size : 24px;
  line-height: 18px;
}
.tvp-published, .tvp-duration, .tvp-social{
  font-family : "Open Sans", sans-serif;
  font-size : 14px;
  line-height : 18px;
  color : #333333;
  text-transform : capitalize;
  font-weight: 600;
  & span{
    font-weight: normal;
  }
}
.tvp-duration, .tvp-social{
  margin-left: 64px;
}

.tvp-video-description{
  font-family : "Open Sans", sans-serif;
  line-height : 20px;
  font-size : 16px;
  color : #373737;
  margin-bottom: 20px;
}
.tvp-show-more{
  margin-top: 32px;
  padding-top: 1px;
}
.tvp-show-more button{
  text-transform : uppercase;
  border: 1px solid #333333;
  border-radius: 15px;
  line-height: 28px;
  padding : 0 16px;
}

.tvp-social-facebook, .tvp-social-twitter{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}
.tvp-social .tvp-hover svg path{
  fill : #373737;
}
.tvp-show-more .tvp-normal{
  background-color: transparent;
  color : #333333;
  opacity : 0.5;
  font-weight : 600;
  font-size : 16px;
  
}
.tvp-show-more .tvp-hovered{
  background-color: transparent;
  opacity : 1;
  color : #333333;
  opacity : 1;
  font-weight : 600;
  font-size : 16px;
  
}
.tvp-player-products-container{
  background-color: #1D4189;
}
.tvp-player-products-container {
  background-color: transparent;
}
.tvplayer-playbutton, .tvp-ad-play-button{
  opacity : 0.8;
}
.tvp-player-video {
  color: #444444;
  font-family: Open Sans;
}
.tvp-playing{
  background-color : rgba(0,0,0,0.5) !important;
}
.video-title-playing{
  margin-top : 10px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  opacity : 0.5;
  font-size: 14px;
  text-transform: uppercase;
}
.tvp-player-video-title {
  color: #333333;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: inherit;
  margin-top : 0;
  //width : 100%;
}
.tvp-player-video-title-products {
  color: #333333;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-transform: inherit;
  margin-top : 0;
}
.tvp-player-video-title-text {
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
}

.video-wrapper {
  position: absolute !important;
}

.tvp-no-wrap {
  white-space: nowrap;
}


@media (max-width:390px){
    .tvp-duration{
      margin-left: 0;
    }
}
@media (max-width:415px){
    .tvp-social{
      margin-left: 0;
    }
}
.tvp-row-separator{
  margin-top : 20px;
  margin-bottom : 20px;
}
@media (min-width:961px){
  .tvp-duration{
    margin-left : 60px;
  }
}
@media (max-width : 961px){
    .tvp-author, .tvp-social{
      width : 100%;
      display: block;
    }
    .tvp-social{
      margin-left: 0;
      padding-top: 10px;
      text-align: center;
    }
    .tvp-author{
      margin : 4px 0 24px 0;
    }
    .tvp-player-video-title-products{
      display: none;
    }
    .tvp-duration{
      float: right;
    }
    .player-container{
      margin-top : 0;
    }
    .tvp-line-detail{
      display: inline;
    }
    .video-info{
      padding: 30px 0 5px 0;
    }
    .tvp-player-video-title-text{
      font-size: 16px;
      line-height: 22px;
    }
    .tvp-player-video-title{
      text-align: center;
      font-size: 16px;
      line-height: 22px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
}
.share-link{
  position: relative;
}
.tooltip-text{
  position : absolute;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 150%;
  left : 50%;
  margin-left: -80px;
}
.tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}