.modal-backface{
    position: fixed;
    height : 100%;
    width : 100%;
    left : 0;
    top : 0;
    z-index: 10100;
    background-color: rgba(250,250,250,0.5);
}
.modal-container{
    width: 684px;
    height: 706px;
    background-color: #ffffff;
    position: absolute;
    left : 50%;
    top: 50%;
    transform : translate(-50%, -50%);
    border: 1px solid #DDDDDD;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.12);
    z-index: 101050;
}
.modal-body{
    margin: 30px 10px 10px 10px;
}
.close-modal{
    position: absolute;
    right: 10px;
    top: 10px;
    width : 18px;
    height: 18px;
    cursor: pointer;
}
.modal-product-image{
    position : relative;
    height: 382px;
}
.modal-product-image img{
    position: absolute;
    height: 100%;
    width: auto;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
}