.tvp-grid{
  padding-top : 10px;
  display: flex;
  flex-wrap: wrap;
}
.tvp-line-related{
  background-color: #D1D1D1;
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
}
.tvp-line-related div{
  position: absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  background-color: #f9f9f9; 
  padding : 0 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.tvp-video {
  padding-top: 15px;
}
.lazy-wrap img{
  height: auto !important;
  transition: inherit;
}
.product-container{
  position: relative;
  width: 100%;
  bottom : 0;
  margin-top : 3px;
}
.product-in{
  width : 90px;
  display: inline-block;
  padding : 3px;
}
.product-in .lazy-wrap{
  overflow: inherit;
  display: block;
}
.product-in:first-child{
  padding-left: 0;
}
.product-in:last-child{
  padding-right: 0;
}
.product-in-video > div{
  border: 1px solid #DDDDDD;
  min-height : 90px;
  position : relative;
}
.product-in-video-counter > div{
  border: 1px solid #D2D2D2;
  min-height : 62px;
  position : relative;
  background-color: rgba(192,32,38,0.9);
  
}
.product-in-video-counter > div > span{
  text-align: center;
  position: absolute;
  left: 50%;
  top : 50%;
  transform: translate(-50%,-50%);
  color : #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.product-in-video img{
  width: auto !important;
  height: 100% !important;
  transform : translate(-50%, -50%);
  top : 50%;
  left : 50%;
  position: absolute;
  padding : 1px;
}
.tvp-video-grid-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 41px;
  color: #373737;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.tvp-play-icon-svg{
  width: 62px;
  height: 62px;
  vertical-align: middle;
  border : 0;
  border-radius: 50%;
  background-color: rgba(18,18,18,0.8);
}
.tvp-video-item {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 15px;
  display: flex;
}

.tvp-video-item > div{
  width : 100%;
  padding : 5px;
  position: relative;
  top: 0;
  transition: top ease-out 0.1s;
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 14px;
}

.tvp-video-item > div:active{
  // box-shadow: 0 2px 8px 0 rgba(51,51,51,0.12);
}
.tvp-video-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out;
}
.tvp-hovered .tvp-video-item-overlay{
  background-color : rgba(0,0,0,0.5);
}

.tvp-video-item-overlay-content {
  color: #fff;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.tvp-video-item-overlay-playing{
  span {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
.tvp-hovered .tvp-watch-now{
  display : block !important;
  visibility : visible;
  font-size : 20px;
  font-weight : 600;
  line-height : 33px;
}
.tvp-hovered .tvp-play-icon-svg{
  display: none;
  opacity : 0;
}
.tvp-video-item-thumbnail {
  position: relative;
  display: block;
}

.tvp-video-item-thumbnail:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.tvp-video-item-thumbnail > div:first-child {
  position :absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -50%);
}

.tvp-video-item-thumbnail img {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%,-50%);
  width: 100%;
}

.tvp-video-item-title {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  line-height: 32px;
  text-decoration: none;
  margin-top: 4px;
  margin-bottom: 0;
  color: #333333;
  font-weight: normal;
  text-transform: inherit;
}
.tvp-video-item-title:hover{
  color:#333333;
  text-decoration: underline !important;
}
.tvp-video-item-author {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 17px;
  text-decoration: none;
  margin-bottom: 0;
  margin-top : 2px;
  color: #939393;
  text-transform: capitalize;
}
.tvp-video-item-author:hover {
  text-decoration: underline;
}
.tvp-video-item-description {
  margin-top: 5px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 17px;
  text-decoration: none;
  margin-bottom: 8px;
  color: #333333;
}
.pl-12{
  padding-left: 12px;
}

.pl-0{
  padding-left: 0px;
}
@media (max-width:1024px){
  .tvp-hovered .tvp-watch-now{
    font-size : 16px;
    margin-left: 0;
  }
  .tvp-play-icon-svg{
    height: 44px;
    width: 44px;
  }
}
@media (max-width:768px) and (orientation:landscape){
  .tvp-play-icon-svg{
    height: 44px;
    width: 44px;
  }
  .product-in-video > div{
    min-height : 86px;
  }
  .product-in-video-counter > div{
    min-height : 86px;
  }
}
@media (max-width : 768px) and (orientation:portrait){
  .tvp-hovered .tvp-watch-now{
    font-size : 16px;
    margin-left: 0;
  }
}

@media (max-width:600px){
  .tvp-play-icon-svg{
    height: 52px;
    width: 52px;
  }
  .pl-0{
    padding-left: 14px;
  }
  .product-in-video > div{
    min-height : 86px;
  }
  .product-in-video-counter > div{
    min-height : 86px;
  }
}
@media (max-width:600px) and (orientation:portrait){
  .tvp-hovered .tvp-watch-now{
    font-size : 24px;
    line-height : 33px;
  }
}

