.header{
    background-color: #F6F6F6;
    border-bottom: 1px solid #D2D2D2;
}
.header-container{
    height: 77px;;
    position: relative;
}
.logo{
    position : absolute;
    top : 50%;
    left : 50%;
    height: 100%;;
    transform : translate(-50%, -50%);
}
.menu-mobile{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
.menu-mobile svg{
    vertical-align: middle;
}
@media (max-width:768px){
    .menu-mobile{
        display: block;
    }
}